#myInput {
    background-image: url('pic/search.png'); 
    background-position: 10px 12px;
    background-repeat: no-repeat;
    width: 100%;
    height: 60px;
    font-size: 36px;
    padding: 12px 20px 12px 80px;
    border: 1px solid #ddd;
    margin-bottom: 12px; 
}

#myTable {
    border-collapse: collapse; 
    width: 100%; 
    border: 1px solid #ddd;
    font-size: 18px; 
}
 
#myTable th, #myTable td {
    text-align: left;
    padding: 12px;
}
 
#myTable tr {
    /* 表格添加边框 */
    border-bottom: 1px solid #ddd; 
}
 
#myTable tr.header, #myTable tr:hover {
    /* 表頭及滑鼠滑過 tr 添加背景 */
    background-color: #f1f1f1;
}